<div class="container">
  <div class="row">
    <div>
      <%= link_to :back do %>
        <i class="fas fa-backward">戻る</i>
      <% end %>
    </div>
    <div class="heading-title text-center">
      <h2 class="heading-style">ノートを編集する</h2>
      <h3>Edit Note</h3>
    </div>
    <%= render partial: 'note_new', locals: {note: @note} %>
  </div>
</div>
