<div class="container">
  <div class="row">
    <h2>マイノート一覧</h2>
    <table class="table">
      <thead>
        <tr>
          <th>ノート名</th>
          <th>筋肉名</th>
          <th>作成日時</th>
        </tr>
      </thead>
      <tbody>
        <% @user.notes.each do |note| %>
        <tr>
          <td><%= link_to note.title, note_path(note.id) %></td>
          <td><%= note.name %></td>
          <td><%= note.created_at %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>