<div id="top-slide-container">
  <div id="theTarget">
    <div class="top-slide-image1"></div>
    <div class="top-slide-image2"></div>
    <div class="top-slide-image3"></div>
    <div class="top-slide-image4"></div>
    <div class="top-slide-image5"></div>
  </div>
</div>
<div class="about-container container">
  <div class="row">
    <div class="about-information text-center">
      <h2>about</h2>
      <p>このサイトは画像を見ながら解剖学における筋肉の勉強ができるサイトです。</p>
      <p>筋肉の学習ができると同時に
        <%= link_to "ログイン", new_user_session_path %>していただければ自分だけのMyノートを作成することが可能です。
      </p>
      <p>さらに右上のメニューから筋肉を探したり、ログイン後には筋肉名を入力することでノートの検索や筋肉の検索ができます。</p>
      <p>他の人が投稿したノートをいいねすることでいつでもその投稿を見返すことができます。</p>
      <p>知識をインプットし、ノートに即アウトプットすることで知識の定着を図ります。</p>
    </div>
  </div>
</div>