/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import "summernote-bs4";
 @import "font-awesome-sprockets";
 @import "font-awesome";

* {
  list-style: none;
}

.container-fluid {
  background-color: #ffffff;
}

.navbar-default {
  border: none !important;
}

.input-required {
  color: red;
}

.notice-message {
  font-size: 20px;
  color: green;
}

.alert-message {
  font-size: 20px;
  color: red;
}

.top-slide-image1 {
background-image: url(test1.jpg);
}
.top-slide-image2 {
background-image: url(test2.jpg);
}
.top-slide-image3 {
background-image: url(test3.jpg);
}
.top-slide-image4 {
background-image: url(test4.jpg);
}
.top-slide-image5 {
background-image: url(test5.jpg);
}

#top-slide-container {
  height: 500px;
}

.about-information {
  padding-top: 100px;
  height: 500px;
}

.table {
  & td,
  & td > * {
    word-break: break-all;
  }
}
.notes-show-table tbody tr > td:nth-of-type(1) {
  width: 20%;
}

.btn-area {
  padding-bottom: 50px;
}