// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.note-muscle-name {
  font-weight: bold;
}

// ここからタブメニュー
.tab {
  border-bottom: 3px solid #fb4343;
}

.tab li {
  color: #333;
  float: left;
  margin: 0 10px -1px 0;
  padding: 10px 20px;
  border: 1px solid #fb4343;
  cursor: pointer;
  list-style: none;
  transition: .3s;
}

.tab li.active {
  color: #fff;
  background: #fb4343;
  cursor: auto;
}

.area ul {
  display: none;
}

.area ul.show {
  display: block;
}

// ここまでタブメニュー

.writing-note-btn {
  margin-top: 10px;
}
